@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  
.animate-spin {
    animation: spin 5s ease-in-out;
}
  
button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}
